<div class="container">

    <div class="row align-items-start">
        <div class="col">
            <img src="assets/ecommerce.jpg" alt="Avatar" class="image-container">
            <div class="overlay">E-Commerce Project</div>
        </div>
        <div class="col text-left">
            <h3>E-commerce Project</h3>
            <hr>
            <p>Full-Stack application build it with Angular and Spring Boot.</p>
            <p>
                Angular on the Front-end, Spring boot on the Back-end
                and they communicate with each other using REST API.
                And then in the background, MySQL on the database.
            </p>

            <a href="#" class="btn btn-primary" role="button">Visit Project</a>
        </div>
    </div>

    <div class="row align-items-start row-margin">
        <div class="col text-left">
            <h3>Booking App</h3>
            <hr>
            <p>This app was created with the purpose of help people to organize themselves with their trips.
            </p>
            <p>This application was develop with Ionic</p>
            <a href="https://ionic-angular-course-816c3.web.app/auth" class="btn btn-primary" role="button">Visit Project</a>
        </div>
        <div class="col">
            <img src="assets/schedule-app.jpg" alt="Avatar" class="image-container">
            <div class="overlay">Schedule App Project</div>
        </div>
    </div>

</div>
