<header>
  <div class="jumbotron bg-white">
    <blockquote class="blockquote text-center">
      <img src="assets/Logo.png">
      <p class="lead">Welcome to my personal page!</p>
    </blockquote>
    <hr class="my-4">
    <div class="containier-fluid-nav text-center">
        <a class="navbar-brand" href="#">About</a>
        <a class="navbar-brand" href="#">Work</a>
        <a class="navbar-brand" href="#">Map</a>
        <a class="navbar-brand" href="#">Hobbies</a>
    </div>
  </div>
</header>
