<div class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img
          width="350px"
          height="300px"
          src="assets/foto.jpg"
          class="img-fluid img-thumbnail float-right"
        />
      </div>

      <div class="col-md-6">
        <p class="h5">Hello there! I'm Federico</p>
        <p>I'm a system engineer student and a Front-End web developer.</p>
        <p>
          I love to solve problems and get things done, so I decided to start
          using my skills in new ways by doing my personal web page. My efforts
          are focused on improving my web development skills, because i really
          want to work with other people and make an impact in people's life.
        </p>
        <p class="lead">"Leave this world a little better than you find it."</p>
        <p></p>

        <p>
          Say hi on Twitter <a href="https://twitter.com/Fardiito">@Fardiito</a>
        </p>
      </div>
    </div>
  </div>
</div>
