<div class="text-left">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img
          width="350px"
          height="300px"
          src="assets/foto.jpg"
          class="img-fluid img-thumbnail float-right"
        />
      </div>

      <div class="col-md-6">
        <p class="h5">Hola! Soy Federico</p>
        <p>
          Tengo 26 años, vivo en Tandil y estudo ingeniería en sistemas. Me apasiona el desarrollo de páginas web y aplicaciones móviles.
          Me encanta trabajar en equipo y soy exigente con los detalles.
        </p>
        <p>
          Te doy las gracias por tomarte el tiempo de visitar mi página y te regalo mi frase favorita:
        </p>
        <p class="lead">"Nadie tiene tiempo para lo que no tiene ganas de hacer"</p>
        <p></p>

        <p>
          Saludame en Twitter <a href="https://twitter.com/Fardiito">@Fardiito</a>
        </p>
      </div>
    </div>
  </div>
</div>
