<app-navbar></app-navbar>
<div class="pdisplay">
    <p >
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores error ullam distinctio, expedita, perferendis, itaque architecto at ut vero pariatur placeat nulla magnam. Tempore velit quod autem, odit nihil architecto accusantium a placeat, enim quia aliquid rerum molestias exercitationem facilis? Repudiandae dolor perferendis at provident voluptate optio, laboriosam tenetur modi!
    </p>
    <p >
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores error ullam distinctio, expedita, perferendis, itaque architecto at ut vero pariatur placeat nulla magnam. Tempore velit quod autem, odit nihil architecto accusantium a placeat, enim quia aliquid rerum molestias exercitationem facilis? Repudiandae dolor perferendis at provident voluptate optio, laboriosam tenetur modi!
    </p>
    <p >
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores error ullam distinctio, expedita, perferendis, itaque architecto at ut vero pariatur placeat nulla magnam. Tempore velit quod autem, odit nihil architecto accusantium a placeat, enim quia aliquid rerum molestias exercitationem facilis? Repudiandae dolor perferendis at provident voluptate optio, laboriosam tenetur modi!
    </p>
</div>

