<header>
  <div class="jumbotron bg-white mb-0">
    <blockquote class="blockquote text-center">
      <img src="assets/Logo.png">
      <p class="lead">Welcome to my personal page!</p>
    </blockquote>
    <hr class="my-4">
    <div class="containier-fluid-nav text-center">
      <a class="navbar-brand Header-nav-item" routerLink="/" routerLinkActive="active-link"
        [routerLinkActiveOptions]="{exact: true}">About</a>
      <a class="navbar-brand Header-nav-item" routerLink="/contact" routerLinkActive="active-link">Contact</a>
      <a class="navbar-brand Header-nav-item" routerLink="/map" routerLinkActive="active-link">Map</a>
      
      <!-- Basic dropdown -->
      
      <a class="navbar-brand Header-nav-item" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">PortFolio</a>

      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
      <!-- Basic dropdown -->

    </div>
  </div>
</header>

<body>
  <router-outlet></router-outlet>
</body>

<!-- Footer -->
<footer class="page-footer font-small cyan darken-3 text-center">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 py-5">
        <div class="mb-5 mt-3 flex-center">

          <!-- Facebook -->
          <a class="fb-ic" href="https://www.facebook.com/Fardiito/">
            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic" href="https://twitter.com/Fardiito">
            <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!-- Angular -->
          <a class="gplus-ic" href="https://angular.io/">
            <i class="fab fa-angular fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic" href="https://www.linkedin.com/in/suarezfed/">
            <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic" href="https://www.instagram.com/suarezfed/">
            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Pinterest-->
          <a class="pin-ic" href="https://ar.pinterest.com/">
            <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
          </a>
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->