.box-display{
    display: flex;
}

.p-text{
    margin: 15px;
    margin-top: 0px;
    padding: 10px;
}

.content-inner-wrapper {
    padding: 0px 150px 75px 150px;
    margin: 0px 150px;
    position: relative;
}

.fakeimg {
    height: 200px;
    background: #aaa;
  }

@media screen and (max-width: 700px) {
  img{
    width: 80%;
  }
}

.Header-nav-item {
    margin-left: 16px;
}

.active-link{
    color: black;
}
