<header>
  <div class="jumbotron bg-white">
    <blockquote class="blockquote text-center">
      <img src="assets/Logo.png">
      <p class="lead">Welcome to my personal page!</p>
    </blockquote>
    <hr class="my-4">
    <div class="containier-fluid-nav text-center">
      <a class="navbar-brand Header-nav-item" href="#">About</a>
      <a class="navbar-brand Header-nav-item" href="#">Contact</a>
      <a class="navbar-brand Header-nav-item" href="#">Hobbies</a>
      <a class="navbar-brand Header-nav-item" href="#">Map</a>
      <a class="navbar-brand Header-nav-item" href="#">PortFolio</a>

    </div>
  </div>
</header>

<body class="text-center">
  <div class="container">
    <div class="row">
      
      <div class="col-md-6">
        <img width="350px" height="300px" src="assets/foto.jpg" class="img-fluid img-thumbnail float-right">
      </div>

      <div class="col-md-6">
        
          <p class="h5">Hello there! I'm Federico</p>
          <p>I'm a system engineer student and a Front-End web developer.</p>
          <p>
            I love to solve problems and get things done, so I decided to start using my skills in new ways by doing my
            personal web page.
            My efforts are focused on improving my web development skills, because i really want to work with other
            people and make and impact
            in people's life.
          </p>
          <p class="lead">"Leave this world a little better than you find it."</p>
          <p></p>

          <p>Say hi on Twitter <a href="https://twitter.com/Fardiito">@Fardiito</a></p>
        

      </div>

    </div>

  </div>








</body>

<!-- Footer -->
<footer class="page-footer font-small cyan darken-3 text-center">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 py-5">
        <div class="mb-5 flex-center">

          <!-- Facebook -->
          <a class="fb-ic" href="https://www.facebook.com/Fardiito/">
            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic" href="https://twitter.com/Fardiito">
            <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fab fa-angular fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic" href="https://www.linkedin.com/in/suarezfed/">
            <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic" href="https://www.instagram.com/suarezfed/">
            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Pinterest-->
          <a class="pin-ic" href="https://ar.pinterest.com/">
            <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
          </a>
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->